{% extends ('base.html.twig') %}

{% block body %}

<h1>Je suis la page d'accueil du site</h1>
<h2>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez vous!</a></h2>

{% endblock %}