{% extends ('base.html.twig') %}
{% block title %}Auteur {{ user.fullName }}- Le Blog{% endblock %}
{% block body %}

<h1>Tout les posts de l'auteur : <span class="m-0 badge badge-pill alert-info">{{ user.fullName }}</span></h1>
<hr>

<section>
<a class="btn btn-outline-primary mb-5" href="{{ path('app_index') }}">Retour a l'accueil<a/>
    <h4>Tout les posts</h4>
    {% include 'utils/_show_post.html.twig' %}
</section>

{% endblock %}