<form method="post" action="{{ path('admin_delete_post', {'id': post.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce post ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>