{% extends 'base_admin.html.twig' %}

{% block title %}Créer un nouveau post{% endblock %}

{% block body %}
    <div class="container">
    {% include 'utils/alert.html.twig' %}
        <div class="row mb-2">
            {{ form_start(postForm) }}
                {{ form_widget(postForm) }}
        </div>
        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(postForm) }}

        <div class="d-flex mt-3">

            {% include ('utils/_btn_retour.html.twig') %}
        </div>
    </div>

{% endblock %}