{% extends ('base_admin.html.twig') %}

{% block body %}
        {% include 'utils/alert.html.twig' %}
        {% include 'admin/category/_add_category.html.twig' %}

<div class="container">
        <div class="pt-5 mb-5">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.slug }}</td>
                        <td>
                            <a href="{{ path('admin_edit_category', {'id': category.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucune catégorie</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}