{% extends ('base_admin.html.twig') %}

{% block body %}
        {% include 'utils/alert.html.twig' %}
        {% include 'admin/category/_add_category.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a href="{{ path('admin_edit_category', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}